{% extends 'layout.html' %}
{% block content %}
{% load static %}
<br>
<div class="container">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Python Techie. <span class="text-muted">An Enthusiastic Python Pogrammer.</span></h2>
    <p class="lead">I am Rayan Serrao working in IT industry. I made up my mind to work as python programmer in life. I
      am eager to learn many things and work on that daily. Clear cut undertsanding of task and time managment and
      motivated to learn, grow and excel in life.
    <p>
  </div>
  <div class="col-md-4">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
      src="{% static 'images/about1.jpeg' %}">
  </div>
</div>
<br>
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">My Intrests. <span class="text-muted">Time to reflect on myself.</span></h2>
    <p class="lead">I am more intrested in python webdevlopment field. Flask and Django what I am more intrested in. I
      was part of acting club in my college days, so i am more intrested in acting. Always yes to Trekking on a weekend
      and I never say NO! to CHAAI!! </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
      src="{% static 'images/about2.jpeg' %}">
  </div>
</div>
</div>

{% endblock %}